@font-face {
    font-family: 'Intro Regular';
    src: url('./../fonts/IntroRegular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Book';
    src: url('./../fonts/IntroBook.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Bold';
    src: url('./../fonts/IntroBold.woff2');
    font-weight: 700;
    font-style: normal;
}


:root {
    --container-width: 1210px;
    --container-padding: 15px;
    --big-offset: 60px;

    /* colors */
    --color-black: #000;
    --color-white: #fff;
    --color-eastbay: #484283;
    --color-main: #444B58;
    --color-accent: #f14f4f;
    --color-border: rgba(255, 255, 255, 0.5);
    --color-hover: #CC4949;
    --color-bombay: #b2b5bb;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.hidden {
    display: none;
}

.body {
    font-family: 'Intro Regular', sans-serif;
    font-weight: 400;
    background-color: var(--color-white);
    overflow-x: hidden; 
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: var(--container-width);
}

.btn {
    width: 250px;
    height: 60px;
    border-radius: 4px;
    background-color: var(--color-accent);
    color: var(--color-white);
    font-size: 16px;
    line-height: 16px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.1s linear;
}

/* HEADER */

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 0 15px;
    background-color: var(--color-eastbay);
    overflow-x: hidden; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--color-border);
}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: var(--color-white);
}

.header-right {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 40px;
}

.nav-link {
    position: relative;
    font-family: 'Intro Book';
    font-size: 14px;
    line-height: 14px;
    color: var(--color-white);
    transition: color 0.3s ease-in-out;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-hover);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-hover);
}



.nav-link:hover::before,
.nav-link:focus::before {
    transform: scaleX(1);
}

.cart {
    margin-left: 40px;
    font-family: 'Intro Book';
    font-size: 14px;
    line-height: 14px;
    color: var(--color-white);
}

.btn-cart {
    position: relative;
    width: 20px;
    height: 20px;
}

.btn-cart-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-count {
    font-family: 'Intro Book';
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    right: -6px;
    bottom: -6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var(--color-accent);
    color: var(--color-white);
}

.burger {
    font-size: 24px;
    margin-left: 30px;
    color: var(--color-white);
    transition: color 0.3s ease-in-out;
    display: none;
}

.burger:hover,
.burger:active {
    color: var(--color-hover);
}


/* HERO */

.hero {
    position: relative;
    padding: 150px 0;
    height: 528px;
    background-color: var(--color-eastbay);
}

.hero-container {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-bg-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Intro Bold';
    font-size: 200px;
    line-height: 200px;
    color: rgba(255, 255, 255, 0.12);
    pointer-events: none;
    overflow: hidden;
}

.hero-title {
    font-family: 'Intro Regular';
    font-size: 36px;
    color: var(--color-white);
    margin-bottom: 20px;
}

.hero-desc {
    font-family: 'Intro Book';
    font-size: 16px;
    max-width: 480px;
    color: var(--color-white);
    margin-bottom: 40px;
}

.btn-hero:hover {
    background-color: var(--color-hover);
}

.btn-hero:active {
    transform: translateY(3px);
}

/* CATALOG */

.catalog {
    margin-top: var(--big-offset);
}

.title {
    font-family: 'Intro Bold';
    font-size: 30px;
    line-height: 30px;
    color: var(--color-main);
}

.catalog-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    margin-top: 40px;
}

/* catalog-left */
.catalog-left {
    grid-column: 3 span;
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 16px;
    color: var(--color-main);

}

.catalog-filters {
    background-color: #fff4ee;
    border-radius: 4px;
    padding: 20px;
}

.catalog-subtitle {
    font-family: 'Intro Book';
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
}

.catalog-prop {
    margin-bottom: 20px;
}

.catalog-caption {
    margin-bottom: 10px;
}

/* input */
.catalog-price-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.catalog-price-wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 8px;
    width: 1px;
    height: 34px;
    background-color: #b2b5bb;
    transform: translateX(-50%);
}

.catalog-price-input {
    border: 1px solid #b2b5bb;
    width: 50%;
    height: 50px;
    text-align: center;
}

.catalog-price-input:first-child {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.catalog-price-input:last-child {
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* noUiSlider */
.catalog-price-element {
    right: -3px;
}

.noUi-horizontal {
    height: 2px;
}

.noUi-target {
    border: none;
    box-shadow: none;
    background-color: var(--color-main);
}

.noUi-connect {
    background-color: var(--color-main);
}

.noUi-handle {
    border: none;
    border-radius: 100%;
    box-shadow: none;
    background-color: var(--color-main);
    cursor: default;
}


.noUi-handle::after, 
.noUi-handle::before {
    display: none;
}

.noUi-horizontal .noUi-handle {
    width: 10px;
    height: 18px;
    right: 0;
    top: -8px;
}

/* checkbox  */
.catalog-prop-inner-checkbox {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}


.custom-checkbox-field {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.custom-checkbox-content {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    
}

.custom-checkbox-content::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #DBBBA9;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-checkbox-content::after {
    content: url('./../images/checkbox-icon.png');
    position: absolute;
    left: -25px;
    top: 0;
    width: 5px;
    height: 5px;
    opacity: 0;
}

.custom-checkbox .custom-checkbox-field:checked + .custom-checkbox-content::after {
    opacity: 1;
}

/* sizes-table */
.sizes-table {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
}

.sizes-table caption {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.sizes-table td {
    border: 1px solid #dbbba9;
    text-align: center;
    padding: 17px 5px;
}

.catalog-left-btns {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.btn-catalog {
    width: 100%;
    background-color: var(--color-main);
}

.btn-catalog:hover {
    background-color: #31343C;
}

.btn-catalog:active {
    transform: translateY(3px);
}

.catalog-reset {
    transition: color 0.3s ease-in-out;
}

.catalog-reset:hover {
    color: var(--color-hover);
}

/* catalog-right */
.catalog-right {
    grid-column: 9 span;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.catalog-item:nth-child(n + 10) {
    display: none;
}

.catalog-item.is-visible {
    display: block;
}

.product {
    border-radius: 4px;
    overflow: hidden;
}

.product-image {
    position: relative;
    width: 100%;
    height: 293px;
}

.product-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-title {
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 16px;
    color: var(--color-main);
    margin-top: 10px;
}

.product-price {
    font-family: 'Intro Regular';
    font-size: 20px;
    line-height: 20px;
    color: var(--color-main);
    margin-top: 10px;
}

.product-btns {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    background-color:rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.catalog-item:hover .product-btns {
    opacity: 1;
}

.product-btn {
    background-color: var(--color-main);
    border-radius: 100%;
    padding: 25px;
    transition: background-color 0.3s ease-in-out;
}

.product-btn:hover {
    background-color: #31343C;
}

.product-btn img {
    transition: transform 0.3s ease-in-out;
}

.product-btn:hover img {
    transform: scale(1.1);
}

.catalog-list-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-more {
    width: 200px;
    height: 60px;
}

.btn-more:hover {
    background-color: var(--color-hover);
}

.btn-more:active {
    transform: translateY(3px);
}

/* ABOUT */

.about {
    position: relative;
    background-color: var(--color-eastbay);
    margin-top: var(--big-offset);
    overflow: hidden;
}

.about-figure {
    position: absolute;
    top: 0;
    left: 0;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    z-index: 1;
}

.about-text {
    max-width: 35%;
}

.about-title {
    font-family: 'Intro Bold';
    font-size: 30px;
    line-height: 30px;
    color: var(--color-white);
}

.about-desc {
    margin-top: 20px;
    margin-right: 20px;
}

.about-quote {
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 140%;
    color: var(--color-white);
}

.about-author {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    transform: translateX(50px);
    font-family: 'Intro Bold';
    font-size: 20px;
    line-height: 20px;
    color: var(--color-white);
}

.about-author::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: var(--color-white);
    margin-right: 20px;
}

.about-image {
    flex-shrink: 0;
    max-width: 520px;
    height: 100%;
    overflow: hidden;
    transform: skewX(-15deg);
}

.about-image img {
    height: 100%;
    transform: skewX(15deg) scale(1.3);
}

/* QUIZ */

.quiz {
    margin-top: var(--big-offset);
}

.quiz-container {
    background-color: #fff4ee;
    padding: 40px 100px;
}

.quiz-desc {
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 16px;
    color: #808080;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #808080;
}

.quiz-question {
    padding-top: 20px;
}

.quiz-question-title {
    font-family: 'Intro Book';
    font-size: 24px;
    line-height: 24px;
    color: var(--color-main);
    margin-bottom: 20px;
}

.quiz-question-answers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 155px;
    column-gap: 70px;
    row-gap: 20px;
    border-bottom: 2px solid #808080;
    padding-bottom: 40px;
}

.quiz-question-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quiz-question-item img {
    margin-bottom: 10px;
}

.quiz-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.quiz-count {
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 16px;
    color: #808080;
}

.quiz-question-btn {
    font-family: 'Intro Regular';
    font-size: 16px;
    line-height: 16px;
    color: var(--color-main);
    border: 1px solid #444B58;
    border-radius: 4px;
    background-color: transparent;
    padding: 17px 42px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.1s linear;
}

.quiz-question-btn:hover {
    color: var(--color-white);
    background-color: var(--color-main);
}

.quiz-question-btn:active {
    transform: translateY(3px);
}

.quiz-question-message {
    width: 320px;
    height: 150px;
    padding-left: 20px;
    resize: none;
    outline: none;
    color: var(--color-main);
    background-color: var(--color-white);
}

.quiz-question-message::placeholder {
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 16px;
    color: #DBBBA9;
}

.last-question {
    display: none;
}

.last-question-form {
    position: relative;
    max-width: 655px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    margin-top: 25px;
    border-radius: 4px;
    background-color: #DBBBA9;
}

.last-question-title {
    font-family: 'Intro Bold';
    font-size: 36px;
    line-height: 140%;
    color: var(--color-white);
}

.last-question-desc {
    font-family: 'Intro Book';
    font-size: 18px;
    line-height: 140%;
    color: var(--color-white);
    margin-top: 10px;
    margin-bottom: 15px;
}

.last-question-input {
    width: 500px;
    height: 60px;
    padding-left: 20px;
    background-color: var(--color-white);
    color: var(--color-main);
}

.last-question-input:not(:first-child) {
    margin-top: 10px;
}

.btn-last-question {
    width: 220px;
    height: 60px;
    margin-top: 10px;
}

.btn-last-question:hover {
    background-color: var(--color-hover);
}

.btn-last-question:active {
    transform: translateY(3px);
}

.last-question-decorate {
    position: absolute;
    top: 50%;
    right: -180px;
    transform: translateY(-50%);
}

/* TEAM */

.team {
    margin-top: var(--big-offset);
    background-color: var(--color-eastbay);
    padding: 60px 0;
    position: relative;
}

.team-title {
    color: var(--color-white);
    position: relative;
    z-index: 100;
}

.team-list {
    color: var(--color-white);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    justify-items: center;
    row-gap: 40px;
    column-gap: 10px;
    margin-top: 40px;
    position: relative;
    z-index: 5;
}

.team-image {
    max-width: 380px;
    overflow: hidden;
    border-radius: 4px;
}

.team-image img {
    border-radius: 4px;
    max-width: 100%;
}

.team-subtitle {
    font-family: 'Intro Bold';
    font-size: 24px;
    line-height: 24px;
    margin: 20px 0;
}

.team-post {
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 16px;
}

.team-figure {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

/* FAQ */

.faq {
    margin-top: var(--big-offset);
}

.faq-list {
    max-width: 880px;
    margin: 40px auto 0;
}

.faq-accordion {
    border-top: 1px solid #242424;
    padding: 30px 0;
}

.faq-accordion:last-child {
    border-bottom: 1px solid #242424;
}

.faq-accordion-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.faq-accordion-title,
.faq-accordion-icon {
    font-family: 'Intro Regular';
    font-size: 20px;
    line-height: 20px;
    color: var(--color-main);
    transition: transform 0.5s ease-out;
}

.faq-accordion-content {
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 140%;
    color: rgba(36, 36, 36, 0.5);
    margin-top: 25px;

    max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0 20px;
	will-change: max-height;
	transition: all 0.5s ease-out;
	box-sizing: content-box;
}

/* CONTACTS */

.contacts {
    margin-top: var(--big-offset);
    background-color: #F3F7F6;
    padding: 60px 0;
    overflow: hidden;
}

.contacts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contacts-text {
    max-width: 50%;
    margin-right: 10px;
}

.contacts-item:not(:first-child) {
    margin-top: 40px;
}

.contacts-subtitle {
    font-family: 'Intro Book';
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color-bombay);
    margin-top: 60px;
}

.contacts-phone {
    display: block;
    font-family: 'Intro Regular';
    font-size: 30px;
    line-height: 140%;
    color: var(--color-main);
    margin-top: 40px;
    transition: color 0.3s ease-in-out;
}

.contacts-phone:hover {
    color: var(--color-hover);
}

.contacts-address {
    font-family: 'Intro Book';
    font-size: 18px;
    line-height: 140%;
    color: var(--color-main);
    margin-top: 10px;
}

.social {
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}

.social-item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0E5A4C;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-link i {
    font-size: 24px;
    color: var(--color-white);
    transition: color 0.3s ease-in-out;
}

.social-item:hover i {
    color: var(--color-hover);
}

.social-item:active {
    transform: scale(0.9);
}

/* tooltip */
.tooltip {
    position: relative;
    margin-left: 10px;
}
  
.tooltip-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: var(--color-main);
    background-color: var(--color-white);
    border-radius: 100%;
}
  
.tooltip-text {
    position: absolute;
    left: -10px;
    bottom: calc(100% + 14px);
    z-index: 3;
    padding: 10px 20px;
    width: max-content;
    max-width: 425px;
    border-radius: 4px;
    box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
    font-family: 'Intro Book';
    font-size: 14px;
    line-height: 140%;
    text-transform: initial;
    color: var(--color-main);
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
  
.tooltip-btn:hover + .tooltip-text {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
  
.tooltip-btn:focus + .tooltip-text,
.tooltip-btn:active + .tooltip-text {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.map {
    width: 700px;
    height: 500px; 
    border: 0;
}


/* INSTA */

.insta {
    margin-top: var(--big-offset);
}

.insta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insta-left {
    flex-shrink: 0;
    width: 380px;
    margin-right: 10px;
    padding: 40px 20px;
    border-radius: 4px;
    background-color: var(--color-eastbay);
    color: var(--color-white);  
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.insta-title {
    color: var(--color-white);
}

.insta-desc {
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin: 20px 0 40px;
}

.input-insta {
    width: 100%;
    height: 60px;
    padding-left: 20px;
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 140%;
    color: var(--color-main);
    background-color: var(--color-white);
}

.input-insta:not(:first-child) {
    margin-top: 10px;
}

.input-insta::placeholder {
    font-family: 'Intro Book';
    font-size: 16px;
    line-height: 140%;
    color: var(--color-bombay);
}

.btn-insta {
    width: 100%;
    height: 60px;
    margin-top: 10px;
}

.btn-insta:hover {
    background-color: var(--color-hover);
}

.btn-insta:active {
    transform: translateY(3px);
}

.insta-right {
    width: calc(100% - (380px + 10px));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 160px);
    gap: 15px;
    margin-top: 20px;
}

.insta-item {
    overflow: hidden;
    border-radius: 4px;
}

.insta-item:nth-child(3) {
    grid-column: 2 span;
    grid-row: 2 span;
}

.insta-item:nth-child(2) {
    grid-row: 2;
}

.insta-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s linear;
}

.insta-item:hover img {
    transform: scale(1.2);
}

/* FOOTER */

.footer {
    margin-top: var(--big-offset);
    background-color: var(--color-main);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 15px;
}

.nav-list-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
}


